            body {
                background-color: #ccccff;
            }
            .container {
                margin: 2em auto 2em auto;
                padding: 1em;
                font-family: Verdana, Arial;
                font-size: 18px;
                border: solid black 2px;
                background-color: rgb(245,245,245);
                color: rgb(51,51,51);
            }
            .content {
                color: #333333;
            }
            .divider-row {
                background-color: DarkBlue;
                color: #dddddd;
            }
            .item {
                border: solid DarkBlue 2px;
            }
            .container td.question {
                text-align: right;
            }
            .container td.response {
                text-align:left;
            }
            .logo-container {
                width: 120px;
                height: 120px;
            }
            .start-invisible {
                visibility:hidden;
            }
