.modal-lg {
    width: 90%; /* respsonsive width */
    }
.modal-dlg-lg {
    width: 90%; /* respsonsive width */
    }
.modal-cont-lg {
    width: 90%; /* respsonsive width */
    }
.table-modal {
    width: 90%; /* respsonsive width */
    }
